
* {box-sizing: border-box;}

body {
    background-size: 100%;
    background-position: bottom;
    background-image: url('asd.jpg');
    padding: 0;
    margin: 0;
}

nav {
    position: sticky;
    top: 0px;
}

table {
    width: 100%;
    background-image: url('space.jpg');
    height: 160px;
    background-repeat: repeat-x;
    border-bottom: 5px solid white;
}

table td {
    font-size: 40px;
    padding: 50px ;
    text-align: center;
    font-weight: bold;
}

table td a {
    text-decoration: none;
    color: white;
}

table td a:hover {
    font-size: 43px;
    transition: 0.4s;
    color: rgb(48, 226, 226);
    border: 5px groove rgb(48, 226, 226) ;
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
}




.leiras {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

::-webkit-scrollbar {width:20px;}

    ::-webkit-scrollbar-track {
        background-color: rgb(13, 20, 20);
        box-shadow: inset 0 0 2.5px 2px #000000 ;}
    
    ::-webkit-scrollbar-thumb {background-image: linear-gradient(rgb(25, 39, 235), rgb(22, 210, 235));
            border-radius:25px;
            box-shadow: inset 0 0 2.5px 2px #000000; }

